---
titwe: snapshot vewification
---

## p-pwobwem

s-snapshot vewification o-of the account s-states is i-impwemented, 😳😳😳 but t-the bank hash of t-the snapshot which i-is used to vewify is fawsifiabwe. -.-

## sowution

whiwe a vawidatow is pwocessing t-twansactions to catch up to the cwustew fwom t-the snapshot, ( ͡o ω ͡o ) use incoming vote t-twansactions and the commitment cawcuwatow to confiwm that the c-cwustew is indeed buiwding on the s-snapshotted bank h-hash. rawr x3 once a thweshowd commitment wevew is weached, nyaa~~ accept the snapshot as vawid a-and stawt voting. /(^•ω•^)
